  
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 768px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .gambar {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    /* Tata letak desktop */
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    .text {
      flex: 1;
      padding: 20px;
    }

    .gambar {
      flex: 1;
    }
  }